.official-contact-info {
	display: grid;
	text-align: left;
	grid-template-columns: 110px 1fr;
}

.official-contact-info > img {
	margin: auto;
}

.email {
	font-style: italic;
}

#contactGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#ContactInfo {
	grid-column: 2;
}

.update-link {
	color: blue;
}

.update-link:hover {
	color: purple;
	cursor: pointer;
}

#IssuesBar {
	
}

.row {
	display: grid;
	grid-template-columns: 2fr 10fr;
	margin-left: 10px;
	width: 98%
}

.jumbotron {
	padding: 2rem;
}