.official-contact-info {
	display: grid;
	text-align: left;
	grid-template-columns: 110px 1fr;
}

.official-contact-info > img {
	margin: auto;
}

.email {
	font-style: italic;
}

#contactGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#ContactInfo {
	grid-column: 2;
}

#ChangeAddress {
	.color: blue;
	.font-style: underline;
}

.row {
	display: grid;
	grid-template-columns: 2fr 10fr;
}