.issue-header {
	background-color: #ccccdd;
	padding: 4px;
}

h5 {
	font-weight: normal;
	font-size: 1em;
	text-indent: 10px;
}

#CreateResourceButton {
	margin-left: 1em;
}

#SearchBar {
	position: absolute;
	left: 1em;
	max-width 40em;
}