{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Government Officials</title>
    <link rel="icon" type="image/x-icon" src="{% static 'main_page/favicon.ico' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main_page/resources.css' %}" />
</head>
<body>
    {% include 'main_page/navbar.html' %}
    {% if needs_address %}
        <p>You need an address</p>
    {% else %}
        <ul>
            {% for contact in contacts %}
            <h2>{{ contact.name }} - {{ contact.office }}</h2>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>