{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Verify Ownership of Page for Google API -->
    <meta name="google-site-verification" content="Rc8LWN-vgtLLewdAjWd8LWLrQR_KeXVzV032jrKnhCQ" />
    <title>Civic Connect</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main_page/home_page.css' %}" />
</head>
<body>
    {% include 'main_page/navbar.html' %}
    {% block content %}{% endblock %}


    <div class="container text-center d-flex align-items-center justify-content-center h-100">
        <div class="jumbotron style = border-radius:20px">
            <h1>
                Welcome User! Check out our Resources Page!
            </h1>
        </div>
    </div>
    <div class="container text-center d-flex align-items-center justify-content-center h-100">
        <div class="jumbotron style = border-radius:20px">
            {% if needs_address %}
            <h3>Find my Government Officials</h3>
            <!-- Resource for form https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=vertical-form-layout -->
            <form action="{% url 'main_page:home_page' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" name="address" id="address" />
                </div>
                {% if user.is_authenticated %}
                <div class="form-group">
                    <label for="saveContactInfo" style="display: inline">Save my contact info</label>
                    <input type="checkbox" name="save_info" id="saveContactInfo" />
                </div>
                {% endif %}
                <button type="submit" value="Submit" class="btn btn-primary">Search</button>
            </form>
            {% else %}
            <h3>My Government Officials</h3>
            <ul>
                {% for contact in contacts %}
                    <li class="list-group-item">
                        <div class="official-contact-info" style="display: grid; text-align: left">
                            {% if contact.photo %}
                                <img src="{{ contact.photo }}"  height="100" alt="{{ contact.name }}"/>
                            {% endif %}
                            <p style="grid-column: 2">
                                <strong>{{ contact.name }}</strong><br />
                                <strong>{{ contact.office }}</strong><br />
                                {% if contact.email %}
                                    <font class="email">{{ contact.email }}<br /></font>
                                {% endif %}
                                {% for line in contact.get_address_lines %}
                                    {{ line }}<br />
                                {% endfor %}
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>


</body>
</html>
