{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Verify Ownership of Page for Google API -->
    <meta name="google-site-verification" content="Rc8LWN-vgtLLewdAjWd8LWLrQR_KeXVzV032jrKnhCQ" />
    <title>Civic Connect</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    {% include 'main_page/navbar.html' %}
    {% block content %}{% endblock %}


    <div class= "container text-center d-flex align-items-center justify-content-center h-100">
        <div class= "jumbotron style = border-radius:20px">
            <h1>
                Welcome {{ user.username }}! Check out our Resources Page!
            </h1>
        </div>
    </div>
    

</body>
</html>
