{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resources - Civic Connect</title>
    <link rel="icon" type="image/x-icon" src="{% static 'main_page/favicon.ico' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main_page/resources.css' %}" />
</head>
<body>
    {% include 'main_page/navbar.html' %}
    {% for issue in issue_list %}
        {% if issue.has_resources %}
            <div id="{{ issue.id_name }}" class="issue-header">{{ issue.name.upper }}</div>
            <ul>
            {% for resource in issue.active_resources %}
                <li>
                    <a href="{{ resource.url }}" target="_blank">{{ resource.title }}</a>
                    {% if resource.user_resource %}
                        <h5>- Submitted by {{ resource.get_submitter }}</h5>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
    <a id="CreateResourceButton" href="{% url 'main_page:resource_submit_page' %}" class="btn btn-primary">Add Resource</a>
</body>
</html>