
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Verify Ownership of Page for Google API -->
    <meta name="google-site-verification" content="Rc8LWN-vgtLLewdAjWd8LWLrQR_KeXVzV032jrKnhCQ" />
    <title>Civic Connect</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    {% include 'main_page/navbar.html' %}
    {% block content %}{% endblock %}
    <form>

        <div class = "col-xs-1" align = "center">
            <div class="form-group" style ="width: 300px;">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">Enter your representatives email.</small>
                 <!--Also add a dropdown-->
            </div>
            
            <div class="form-group" style ="width: 1000px;">
                 <!--Temporarily using resource page, but we'd want a separate template page, which will prefill this page with text. Is there also a way to prefill an email with text?-->
                <!--<label for = "emailTextArea">Enter your message here or use an <a href="{% url 'main_page:resource_page' %}">exisiting template</a></label>-->
                <style>
                    p    {color:black;}
                    p    {margin: 20px;}
                    label {font-size:23px;}
                    .flex{
                        margin:50px;
                    }
                </style>

                <label for = "emailTextArea">Would you like to use an existing template from the drop down menu or start from scratch?</label>
                <div id = "flex" class="d-flex justify-content-center">
                    <a href="mailto:" target="_blank" class="btn btn-primary">Send Email From Scratch</a>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Select Template
                        </button>


                        {% if drop_down_list %}
                        <!--<ul>-->
                        
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                {% for template in drop_down_list %}
                                  
                                    <a class="dropdown-item" href="{% url 'email_sys:template_email_page' template.id %}">{{ template.title }}</a>
                                {% endfor %}
                                <a class="dropdown-item" href="#">More Templates</a>
                            </div>
                           
                            <!--<li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>-->

                        <!--</ul>-->
                        {% endif %}


                      </div>
                </div>                
                <!--<textarea class = "form-control" id = "emailTextArea" rows = "10"></textarea>-->
            </div>


            
        
            <!--<button type="Send" class="btn btn-primary">Submit</button>-->
            <!--Here, we need to allow user to input href, and also get the form input into the email... Might need to include something.-->
    

            <!--How about instead, redirects you, and triggers a fuction/view which takes in a s input the link you put?-->
        </div>
    
        
    
    </form>
    

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="bootstrap.bundle.min.js / bootstrap.bundle.js"></script>

</body>
</html>


