{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<style>
.wrapper {
  margin: 0;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resources - Civic Connect</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main_page/resources.css' %}" />
</head>
<body>
    {% include 'main_page/navbar.html' %}
    <h>Would you like to use an existing template from the drop down menu or start from scratch?</h>
    <div class="wrapper">
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select</a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for template in templates_list %}
                <a class="dropdown-item" href="#">{{ template.title }}</a>
            {% endfor %}
        </div>
    </div>
    </div>
    <a class="btn btn-primary btn-lg" href="{% url 'email_sys:scratch_page' %}" role="button">Start from scratch</a>

</body>
</html>