<html>
<title>Would you like to use an existing template from the drop down menu or start from scratch?</title>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for template in template_list %}
        <a class="dropdown-item" href="#">{template.title}</a>
    {% endfor %}
  </div>
</div>
<a class="btn btn-primary btn-lg" href="#" role="button">Start from scratch</a>
</html>