<!--
    REFERENCES
    Title: Bootstrap
    Authors: The Bootstrap Authors
    Date: 2011-2018
    URL: https://getbootstrap.com
    Code Version: 4.0.0
    Software License: MIT
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resources - Civic Connect</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main_page/resources.css' %}" />
</head>
<body>
    {% include 'main_page/navbar.html' %}
    <a href="mailto:someone@example.com">Send email</a>
</body>
</html>
