{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resources - Civic Connect</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main_page/resources.css' %}" />
</head>
<!--<div class = "col-xs-1" align = "center">-->
    <body>
        {% include 'main_page/navbar.html' %}
        
        {% if template %}
            <style>
                p    {color:black;}
                p    {margin: 20px;}

                .card{
                    margin:20px;
                }
            </style>
            <p>
                <b style="font-size:30px">Template Preview</b>
            </p>
        {% endif %}

        {% if template %}
            
        <div class="card" style="width: 50rem;">
            <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Mail To:</h6>

            <form action="{% url 'email_sys:email_success_page' %}" method="post">
                {% csrf_token %}
                {% if email_text %}
                    <input type="email" name = "email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value = "{{email_text}}">
                {% else %}

                
                    <input type="email" name = "email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                
                {% endif %}
                <input name="text_body" value="{{ template.body }}" type="hidden" />
                <input name = "subject" value = "{{ template.title }}" type = "hidden"/>

            <p></p>
            <h6 class="card-subtitle mb-2 text-muted">Subject: {{template.title}}<p></p></h6>
            <pre style="overflow: auto; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; word-wrap: break-word;" class="card-text">{{template.body}}</pre>
            
               

                <button type="submit" id ="submit" class="btn btn-success">Send Email</button>   
            </form>
            </div>
        </div>

            
        {% else %}
            <a href="mailto:{{email_text}}?subject=No Subject&body=No Body">Send email</a>
        {% endif %}
        
        <!--<a href="mailto:someone@example.com?subject={{template.title}}&body={{template.body}}">Send email</a>-->
        
    </body>
<!--</div>-->
</html>
{% include 'main_page/footer.html' %}